PyPDF2
python-docx
langchain
python-dotenv
openai
django
cloudinary
gunicorn
pillow
psycopg2-binary
requests
python-pptx
djangorestframework 
djangorestframework-simplejwt
django-cors-headers==4.6.0
sqlparse==0.5.1
virtualenv==20.26.6
watchfiles
whitenoise
django-cloudinary-storage
django-shortuuidfield